.todolist-wrapper {
  @apply bg-slate-900 p-5 sm:p-14 w-full mx-auto rounded-lg h-[100vh];
}

.title {
  @apply text-3xl font-bold text-center mb-4;
}

.new-todo {
  @apply relative flex items-center;
}

.new-todo button {
  @apply bg-slate-500 text-lg font-medium h-full px-2 text-white rounded-lg;
}

.filters {
  @apply flex flex-col md:flex-row justify-between gap-2 my-2;
}

.filters button,
.filters input,
.filters select {
  @apply p-2 rounded-lg bg-slate-700 outline-none w-full text-lg;
}

.filters button.active,
.filters input.active,
.filters select.active {
  @apply bg-slate-500;
}

.todolist {
  @apply gap-2 mt-6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.todolist li {
  @apply flex flex-col bg-slate-700 px-4 py-2 rounded-lg gap-2;
}

.todolist li.todo label {
  @apply flex-1 text-2xl border-b-2 pb-2;
}

.todolist li.todo:hover button {
  @apply visible;
}

.todolist li.todo button {
  @apply text-xs;
  visibility: hidden;
}

.todolist li.todo input[type="checkbox"] {
  @apply w-4 h-4 cursor-pointer;
}
