<section class="todolist-wrapper">
  <h1 class="title">GESTIÓN DE TAREAS</h1>
  <div class="new-todo">
    <button (click)="addTodo('add')">+ Nuevo</button>
  </div>
  <div class="filters">
    <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">
      Todas
    </button>
    <button
      (click)="changeFilter('active')"
      [class.active]="filter() === 'active'"
    >
      Activos
    </button>
    <button
      (click)="changeFilter('completed')"
      [class.active]="filter() === 'completed'"
    >
      Completados
    </button>
    <input
      type="date"
      (change)="dateValidator('date')"
      [class.active]="filter() === date.value"
      [formControl]="date"
    />
    <select
      (change)="dateValidator('priority')"
      [class.active]="filter() === priority.value"
      [formControl]="priority"
    >
      <option value="" selected disabled>--elija--</option>
      <option value="high">Alta</option>
      <option value="medium">Media</option>
      <option value="low">Baja</option>
    </select>
  </div>

  <ul class="todolist">
    @for (todo of todoListFiltered(); track todo.id) {
    <li class="todo">
      <label class="flex items-center gap-2 justify-between">
        <div>
          <input
            type="checkbox"
            [checked]="todo.completed"
            (click)="toggleTodo(todo.id)"
          />

          {{ todo.title }}
        </div>
        <div>
          <button
            class="bg-green-500 h-fit p-2 mt-2 rounded-lg font-medium mr-2"
            (click)="addTodo('editing', todo)"
          >
            Editar
          </button>
          <button
            class="bg-red-500 h-fit p-2 mt-2 rounded-lg font-medium"
            (click)="removeTodo(todo.id)"
          >
            Eliminar
          </button>
        </div>
      </label>
      <p>
        <strong>Descripción:</strong> {{ todo.description }} <br />
        <strong>Estado:</strong>
        {{ todo.completed ? "Completado" : "Pendiente" }} <br />
        <strong>Fecha de vencimiento:</strong> {{ todo.dateExpired }} <br />
        <strong>Prioridad:</strong> {{ todo.priority }} <br />
        <strong>Etiquetas:</strong> @for (label of todo.labels; track label.id)
        {
        {{ label.text }}
        }
      </p>
    </li>
    }
  </ul>
</section>
@if (modalState) {
<app-modal-add-todo
  title="Crear Tareas"
  (onSave)="recieveTodo($event)"
  [detail]="todoEdited()"
></app-modal-add-todo>
}
