.button-gray {
  @apply mt-3 text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0;
}

.modal-body label {
  @apply flex gap-2 flex-col mb-2;
}

.modal-body label input,
.modal-body label select,
.modal-body label textarea {
  @apply outline-none bg-transparent text-black p-2 border rounded;
}

.list-labels {
  @apply flex gap-2;
}

.list-labels > span {
  @apply bg-slate-200 py-2 px-3 rounded-xl flex items-center gap-3;
}

.deleted {
  @apply p-2 rounded-full bg-slate-600 w-5 h-5 text-white relative;
}

.deleted::before {
  content: "x";
  position: absolute;
  top: -4px;
  right: 6px;
  cursor: pointer;
}

form .change-input {
  @apply flex-row;
  input {
    @apply bg-transparent;
  }
}